<div class="row" *ngIf="!editMode">
  <h1 class="fw-bolder text-primary">Job Data</h1>
  <div class="card m-auto shadow border-0 mb-5">
    <div class="card-body ms-5 row">
      <form #form="ngForm" class="row" (ngSubmit)="addJob(form)">
        <div class="mb-3 col-5">
          <label for="jobTitle" class="form-label fw-bolder">Job Title</label>
          <input type="text" pattern="[A-Za-z_ ]{10,}" class="form-control fw-bolder" id="jobTitle" ngModel
            #jobTitle="ngModel" name="jobTitle" required>
          <div class="text-danger fw-bold mt-2 alert alert-danger" [hidden]="jobTitle.valid || jobTitle.untouched">
            <span *ngIf="jobTitle.errors?.['required']"> Job Title is required</span>
            <span *ngIf="jobTitle.errors?.['pattern']"> Job Title must be more than 10 letters</span>
          </div>
        </div>
        <div class="mb-3 col-5">
          <label for="disabledSelect" class="form-label fw-bolder">Job Type</label>
          <select id="disabledSelect" class="form-select fw-bolder " #jobType="ngModel" ngModel name="jobType" required>
            <option class="fw-bolder">Full Time</option>
            <option class="fw-bolder">Part Time</option>
          </select>
          <div class="text-danger fw-bold mt-2 alert alert-danger" [hidden]="jobType.valid || jobType.untouched">
            <span *ngIf="jobType.errors?.['required']"> Job Type is required</span>
          </div>
        </div>
        <div class="mb-3 col-5">
          <label for="disabledSelect" class="form-label fw-bolder">Career Level</label>
          <select id="disabledSelect" class="form-select " #careerLevel="ngModel" ngModel name="careerLevel" required>
            <option class="fw-bolder">Student</option>
            <option class="fw-bolder">Entery Level</option>
            <option class="fw-bolder">Experienced</option>
          </select>
          <div class="text-danger fw-bold mt-3 alert alert-danger" role="alert"
            [hidden]="careerLevel.valid || careerLevel.untouched">
            <span *ngIf="careerLevel.errors?.['required']"> Career Level is required</span>
          </div>
        </div>
        <div class="mb-3 col-5">
          <label for="disabledSelect" class="form-label fw-bolder">Education Level</label>
          <select id="disabledSelect" class="form-select" #educationLevel="ngModel" ngModel name="educationLevel"
            required>
            <option class="fw-bolder">Bachelor's Degree</option>
            <option class="fw-bolder">Master Degree</option>
          </select>
          <div class="text-danger fw-bold mt-3 alert alert-danger" role="alert"
            [hidden]="educationLevel.valid || educationLevel.untouched">
            <span *ngIf="educationLevel.errors?.['required']"> Education Level is required</span>
          </div>
        </div>
        <div class="mb-3">
          <label for="disabledSelect" class="form-label d-block fw-bolder">Experience</label>
          <div class="row">
            <div class="col-3">
              <span class="me-2 fw-bolder">From</span>
              <select id="disabledSelect" class="form-select w-50 d-inline" #from="ngModel" ngModel name="from"
                required>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <div class="text-danger fw-bold mt-1 alert alert-danger " role="alert"
                [hidden]="from.valid || from.untouched">
                <span *ngIf="from.errors?.['required']">Experience is required</span>
              </div>
            </div>
            <div class="col-3">
              <span class="me-2 fw-bolder">To</span>
              <select id="disabledSelect" class="form-select w-50 d-inline" #to="ngModel" ngModel name="to" required>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <div class="text-danger fw-bold mt-1 alert alert-danger " role="alert"
                [hidden]="to.valid || to.untouched">
                <span *ngIf="to.errors?.['required']">Experience is required</span>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3 col-5">
          <label for="salary" class="form-label fw-bolder">Salary</label>
          <input type="text" class="form-control fw-bolder" id="salary" #salary="ngModel" ngModel name="salary"
            required>
          <div class="text-danger fw-bold mt-3 alert alert-danger" role="alert"
            [hidden]="salary.valid || salary.untouched">
            <span *ngIf="salary.errors?.['required']">Salary is required</span>
          </div>
        </div>
        <div class="mb-3 col-5">
          <label for="disabledSelect" class="form-label fw-bolder">Job Categories</label>
          <select id="disabledSelect" class="form-select fw-bolder" #jobCategories="ngModel" ngModel
            name="jobCategories" required>
            <option class="fw-bolder">IT/Software Development</option>
            <option class="fw-bolder">Engineering - Telecom/Technology</option>
            <option class="fw-bolder">Creative/Design/Art</option>
          </select>
          <div class="text-danger fw-bold mt-3 alert alert-danger" role="alert"
            [hidden]="jobCategories.valid || jobCategories.untouched">
            <span *ngIf="jobCategories.errors?.['required']">Job Categories is required</span>
          </div>
        </div>
        <div class="mb-3">
          <label for="jobDescription" class="form-label fw-bolder">Job Description </label>
          <!-- <quill-editor ngModel pattern="[A-Za-z_ ]{20,}" [required]="true" #jobDescription="ngModel"
            name="jobDescription" [modules]="config" [styles]="editorStyle" class="w-75"></quill-editor> -->
          <textarea class="form-control w-75 fw-bolder" id="jobDescription" #jobDescription="ngModel" ngModel
            name="jobDescription" required pattern="[A-Za-z_ ]{20,}"></textarea>
          <div class="text-danger fw-bold mt-1 alert alert-danger w-75"
            [hidden]="jobDescription.valid || jobDescription.untouched">
            <span *ngIf="jobDescription.errors?.['required']"> Job Requirements is required</span>
            <span *ngIf="jobDescription.errors?.['pattern']"> Job Description must be more than 20 letters</span>
          </div>
        </div>
        <div class="mb-3">
          <label for="jobDescription" class="form-label fw-bolder">Job Requirements </label>
          <textarea class="form-control w-75 fw-bolder" id="jobDescription" #jobRequirements="ngModel" ngModel
            name="jobRequirements" required></textarea>
          <div class="text-danger fw-bold mt-1 alert alert-danger w-75"
            [hidden]="jobRequirements.valid || jobRequirements.untouched">
            <span *ngIf="jobRequirements.errors?.['required']"> Job Requirements is required</span>
            <span *ngIf="jobRequirements.errors?.['pattern']"> Job Requirements must be more than 20 letters</span>
          </div>
        </div>











        <div class="row" dir="rtl">
          <div class="mb-3 col-5">
            <label for="jobTitle" class="form-label fw-bolder">المسمي الوظيفي</label>
            <input type="text"  class="form-control fw-bolder" id="jobTitle" ngModel
              #jobTitleAR="ngModel" name="jobTitleAR" >
            <!-- <div class="text-danger fw-bold mt-2 alert alert-danger" [hidden]="jobTitleAR.valid || jobTitleAR.untouched">
              <span *ngIf="jobTitleAR.errors?.['required']"> المسمي الوظيفي مطلوب</span>
              <span *ngIf="jobTitleAR.errors?.['pattern']"> من فضلك ادخل المسمي الوظيفي باللغة العربية</span>
            </div> -->
          </div>
          <div class="mb-3 col-5">
            <label for="disabledSelect" class="form-label fw-bolder">نوع الوظيفة</label>
            <select id="disabledSelect" class="form-select fw-bolder " #jobTypeAR="ngModel" ngModel name="jobTypeAR"
              required>
              <option class="fw-bolder">دوام كامل</option>
              <option class="fw-bolder">دوام جزئي</option>
            </select>
            <div class="text-danger fw-bold mt-2 alert alert-danger" [hidden]="jobTypeAR.valid || jobTypeAR.untouched">
              <span *ngIf="jobTypeAR.errors?.['required']"> نوع الوظيفة مطلوب</span>
            </div>
          </div>
          <div class="mb-3 col-5">
            <label for="disabledSelect" class="form-label fw-bolder">المستوى الوظيفي </label>
            <select id="disabledSelect" class="form-select " #careerLevelAR="ngModel" ngModel name="careerLevelAR" required>
              <option class="fw-bolder">طالب</option>
              <option class="fw-bolder">مبتدأ</option>
              <option class="fw-bolder">خبرة</option>
            </select>
            <div class="text-danger fw-bold mt-3 alert alert-danger" role="alert"
              [hidden]="careerLevelAR.valid || careerLevelAR.untouched">
              <span *ngIf="careerLevelAR.errors?.['required']"> المستوي الوظيفي مطلوب</span>
            </div>
          </div>
          <div class="mb-3 col-5">
            <label for="disabledSelect" class="form-label fw-bolder">المستوي التعليمي</label>
            <select id="disabledSelect" class="form-select" #educationLevelAR="ngModel" ngModel name="educationLevelAR"
              required>
              <option class="fw-bolder">درجة البكالوريوس</option>
              <option class="fw-bolder">درجة الماجيستير</option>
            </select>
            <div class="text-danger fw-bold mt-3 alert alert-danger" role="alert"
              [hidden]="educationLevelAR.valid || educationLevelAR.untouched">
              <span *ngIf="educationLevelAR.errors?.['required']"> المستوي التعليمي مطلوب</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="disabledSelect" class="form-label d-block fw-bolder">الخبرة</label>
            <div class="row">
              <div class="col-3">
                <span class="ms-2 fw-bolder">من</span>
                <select id="disabledSelect" class="form-select w-50 d-inline" #fromAR="ngModel" ngModel name="fromAR"
                  required>
                  <option>٠</option>
                  <option>١</option>
                  <option>٢</option>
                  <option>٣</option>
                  <option>٤</option>
                  <option>٥</option>
                </select>
                <div class="text-danger fw-bold mt-1 alert alert-danger " role="alert"
                  [hidden]="fromAR.valid || fromAR.untouched">
                  <span *ngIf="fromAR.errors?.['required']">مدة الخبرة مطلوبة</span>
                </div>
              </div>
              <div class="col-3">
                <span class="ms-2 fw-bolder">الي</span>
                <select id="disabledSelect"  class="form-select w-50 d-inline" #toAR="ngModel" ngModel name="toAR" required>
                  <option>٠</option>
                  <option>١</option>
                  <option>٢</option>
                  <option>٣</option>
                  <option>٤</option>
                  <option>٥</option>
                </select>
                <div class="text-danger fw-bold mt-1 alert alert-danger " role="alert"
                  [hidden]="toAR.valid || toAR.untouched">
                  <span *ngIf="toAR.errors?.['required']">مدة الخبرة مطلوبة</span>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3 col-5">
            <label for="salary" class="form-label fw-bolder">الراتب</label>
            <input type="text" class="form-control fw-bolder" id="salary" #salaryAR="ngModel" ngModel name="salaryAR"
              required>
            <!-- <div class="text-danger fw-bold mt-3 alert alert-danger" role="alert"
              [hidden]="salaryAR.valid || salaryAR.untouched">
              <span *ngIf="salaryAR.errors?.['required']">الراتب مطلوب</span>
            </div> -->
          </div>
          <div class="mb-3 col-5">
            <label for="disabledSelect" class="form-label fw-bolder">فئات الوظائف</label>
            <select id="disabledSelect" class="form-select fw-bolder" #jobCategoriesAR="ngModel" ngModel
              name="jobCategoriesAR" required>
              <option class="fw-bolder">البرمجة و التطوير</option>
              <option class="fw-bolder">الهندسة و الاتصالات</option>
              <option class="fw-bolder">الابداع و الفن</option>
            </select>
            <div class="text-danger fw-bold mt-3 alert alert-danger" role="alert"
              [hidden]="jobCategoriesAR.valid || jobCategoriesAR.untouched">
              <span *ngIf="jobCategoriesAR.errors?.['required']"> فئات الوظائف مطلوب</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="jobDescription" class="form-label fw-bolder">وصف الوظيفة </label>
            <!-- <quill-editor ngModel pattern="[A-Za-z_ ]{20,}"  #jobDescription="ngModel" name="jobDescription" [modules]="config" [styles]="editorStyle" class="w-75" ></quill-editor> -->
            <textarea class="form-control w-75 fw-bolder" id="jobDescription" #jobDescriptionAR="ngModel" ngModel
              name="jobDescriptionAR"  ></textarea>
            <!-- <div class="text-danger fw-bold mt-1 alert alert-danger w-75"
              [hidden]="jobDescriptionAR.valid || jobDescriptionAR.untouched">
              <span *ngIf="jobDescriptionAR.errors?.['required']"> وظف الوظيفة مطلوب</span>
              <span *ngIf="jobDescriptionAR.errors?.['pattern']"> Job Description must be more than 20 letters</span> 
            </div> -->
          </div>
          <div class="mb-3">
            <label for="jobDescription" class="form-label fw-bolder">متطالبات الوظيفة </label>
            <textarea class="form-control w-75 fw-bolder" id="jobDescription" #jobRequirementsAR="ngModel" ngModel
              name="jobRequirementsAR"></textarea>
            <!-- <div class="text-danger fw-bold mt-1 alert alert-danger w-75"
              [hidden]="jobRequirementsAR.valid || jobRequirementsAR.untouched">
              <span *ngIf="jobRequirementsAR.errors?.['required']"> متطالبات الوظيفة مطلوب</span>
              <span *ngIf="jobRequirementsAR.errors?.['pattern']"> Job Requirements must be more than 20 letters</span> 
            </div> -->
          </div>
        </div>
















        <div class="col-4">
          <button type="submit" [disabled]="form.invalid" class="btn btn-primary fw-bold">Save</button>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="row" *ngIf="editMode">
  <h1 class="fw-bolder text-primary">Job Data</h1>
  <div class="card m-auto shadow border-0 mb-5">
    <div class="card-body ms-5 row">
      <form #form="ngForm" class="row" (ngSubmit)="update(form)">
        <div class="mb-3 col-5">
          <label for="jobTitle" class="form-label fw-bolder">Job Title</label>
          <input type="text" pattern="[A-Za-z_ ]{10,}" class="form-control fw-bolder" id="jobTitle"
            [(ngModel)]="editingJob.jobTitle" #jobTitle="ngModel" name="jobTitle" required>
          <div class="text-danger fw-bold mt-1 alert alert-danger" [hidden]="jobTitle.valid || jobTitle.untouched">
            <span *ngIf="jobTitle.errors?.['required']"> Job Title is required</span>
            <span *ngIf="jobTitle.errors?.['pattern']"> Job Title must be more than 10 letters</span>
          </div>
        </div>

        <div class="mb-3 col-5">
          <label for="disabledSelect" class="form-label fw-bolder">Job Type</label>
          <select id="disabledSelect" class="form-select fw-bolder" #jobType="ngModel" [(ngModel)]="editingJob.jobType"
            name="jobType" required>
            <option class="fw-bolder">Full Time</option>
            <option class="fw-bolder">Part Time</option>
          </select>
          <div class="text-danger fw-bold mt-1 alert alert-danger" [hidden]="jobType.valid || jobType.untouched">
            <span *ngIf="jobType.errors?.['required']"> Job Type is required</span>
          </div>
        </div>
        <div class="mb-3 col-5">
          <label for="disabledSelect" class="form-label fw-bolder">Career Level</label>
          <select id="disabledSelect" class="form-select fw-bolder" #careerLevel="ngModel"
            [(ngModel)]="editingJob.careerLevel" name="careerLevel" required>
            <option class="fw-bolder">Student</option>
            <option class="fw-bolder">Entery Level</option>
            <option class="fw-bolder">Experienced</option>
          </select>
          <div class="text-danger fw-bold mt-1 alert alert-danger" role="alert"
            [hidden]="careerLevel.valid || careerLevel.untouched">
            <span *ngIf="careerLevel.errors?.['required']"> Career Level is required</span>
          </div>
        </div>
        <div class="mb-3 col-5">
          <label for="disabledSelect" class="form-label fw-bolder">Education Level</label>
          <select id="disabledSelect" class="form-select fw-bolder" #educationLevel="ngModel"
            [(ngModel)]="editingJob.educationLevel" name="careerLevel" required>
            <option class="fw-bolder">Bachelor's Degree</option>
            <option class="fw-bolder">Master Degree</option>

          </select>
          <div class="text-danger fw-bold mt-1 alert alert-danger w-75" role="alert"
            [hidden]="educationLevel.valid || educationLevel.untouched">
            <span *ngIf="educationLevel.errors?.['required']"> Education Level is required</span>
          </div>
        </div>
        <div class="mb-3">
          <label for="disabledSelect" class="form-label d-block fw-bolder">Experience</label>
          <div class="row">
            <div class="col-3">
              <span class="me-2 fw-bolder">From</span>
              <select id="disabledSelect" class="form-select w-50 d-inline" #from="ngModel" ngModel name="from"
                required>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <div class="text-danger fw-bold mt-1 alert alert-danger " role="alert"
                [hidden]="from.valid || from.untouched">
                <span *ngIf="from.errors?.['required']">Experience is required</span>
              </div>
            </div>
            <div class="col-3">
              <span class="me-2 fw-bolder">To</span>
              <select id="disabledSelect" class="form-select w-50 d-inline" #to="ngModel" ngModel name="to" required>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <div class="text-danger fw-bold mt-1 alert alert-danger " role="alert"
                [hidden]="to.valid || to.untouched">
                <span *ngIf="to.errors?.['required']">Experience is required</span>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3 col-5">
          <label for="salary" class="form-label fw-bolder">Salary</label>
          <input type="text" class="form-control fw-bolder" id="salary" #salary="ngModel"
            [(ngModel)]="editingJob.salary" name="salary" required>
          <div class="text-danger fw-bold mt-1 alert alert-danger" role="alert"
            [hidden]="salary.valid || salary.untouched">
            <span *ngIf="salary.errors?.['required']">Salary is required</span>
          </div>
        </div>
        <div class="mb-3 col-5">
          <label for="disabledSelect" class="form-label fw-bolder">Job Categories</label>
          <select id="disabledSelect" class="form-select fw-bolder" #jobCategories="ngModel"
            [(ngModel)]="editingJob.jobCategories" name="jobCategories" required>
            <option class="fw-bolder">IT/Software Development</option>
            <option class="fw-bolder">Engineering - Telecom/Technology</option>
            <option class="fw-bolder">Creative/Design/Art</option>
          </select>
          <div class="text-danger fw-bold mt-1 alert alert-danger" role="alert"
            [hidden]="jobCategories.valid || jobCategories.untouched">
            <span *ngIf="jobCategories.errors?.['required']">Job Categories is required</span>
          </div>
        </div>
        <div class="mb-3">
          <label for="jobDescription" class="form-label fw-bolder">Job Description </label>
          <textarea class="form-control w-75 fw-bolder" id="jobDescription" #jobDescription="ngModel"
            [(ngModel)]="editingJob.jobDescription" name="jobDescription" required></textarea>
          <div class="text-danger fw-bold mt-1 alert alert-danger w-75"
            [hidden]="jobDescription.valid || jobDescription.untouched">
            <span *ngIf="jobDescription.errors?.['required']"> Job Description is required</span>
            <!-- <span *ngIf="jobDescription.errors?.['pattern']"> Job Description must be more than 50 letters</span> -->
          </div>
        </div>
        <div class="mb-3">
          <label for="jobDescription" class="form-label fw-bolder">Job Requirements </label>
          <textarea class="form-control w-75 fw-bolder" id="jobDescription" #jobRequirements="ngModel"
            [(ngModel)]="editingJob.jobRequirements" name="jobRequirements" required></textarea>
          <div class="text-danger fw-bold mt-1 alert alert-danger w-75"
            [hidden]="jobRequirements.valid || jobRequirements.untouched">
            <span *ngIf="jobRequirements.errors?.['required']"> Job Requirements is required</span>
            <!-- <span *ngIf="jobRequirements.errors?.['pattern']"> Job Requirements must be more than 50 letters</span> -->
          </div>
        </div>







        <div class="row" dir="rtl">
          <div class="mb-3 col-5">
            <label for="jobTitle" class="form-label fw-bolder">المسمي الوظيفي</label>
            <input type="text"  class="form-control fw-bolder" id="jobTitle" [(ngModel)]="editingJob.jobTitleAR"
              #jobTitleAR="ngModel" name="jobTitleAR" >
            <!-- <div class="text-danger fw-bold mt-2 alert alert-danger" [hidden]="jobTitleAR.valid || jobTitleAR.untouched">
              <span *ngIf="jobTitleAR.errors?.['required']"> المسمي الوظيفي مطلوب</span>
              <span *ngIf="jobTitleAR.errors?.['pattern']"> من فضلك ادخل المسمي الوظيفي باللغة العربية</span>
            </div> -->
          </div>
          <div class="mb-3 col-5">
            <label for="disabledSelect" class="form-label fw-bolder">نوع الوظيفة</label>
            <select id="disabledSelect" class="form-select fw-bolder " #jobTypeAR="ngModel" [(ngModel)]="editingJob.jobTypeAR" name="jobTypeAR"
              required>
              <option class="fw-bolder">دوام كامل</option>
              <option class="fw-bolder">دوام جزئي</option>
            </select>
            <div class="text-danger fw-bold mt-2 alert alert-danger" [hidden]="jobTypeAR.valid || jobTypeAR.untouched">
              <span *ngIf="jobTypeAR.errors?.['required']"> نوع الوظيفة مطلوب</span>
            </div>
          </div>
          <div class="mb-3 col-5">
            <label for="disabledSelect" class="form-label fw-bolder">المستوى الوظيفي </label>
            <select id="disabledSelect" class="form-select " #careerLevelAR="ngModel" [(ngModel)]="editingJob.careerLevelAR" name="careerLevelAR" required>
              <option class="fw-bolder">طالب</option>
              <option class="fw-bolder">مبتدأ</option>
              <option class="fw-bolder">خبرة</option>
            </select>
            <div class="text-danger fw-bold mt-3 alert alert-danger" role="alert"
              [hidden]="careerLevelAR.valid || careerLevelAR.untouched">
              <span *ngIf="careerLevelAR.errors?.['required']"> المستوي الوظيفي مطلوب</span>
            </div>
          </div>
          <div class="mb-3 col-5">
            <label for="disabledSelect" class="form-label fw-bolder">المستوي التعليمي</label>
            <select id="disabledSelect" class="form-select" #educationLevelAR="ngModel" [(ngModel)]="editingJob.educationLevelAR" name="educationLevelAR"
              required>
              <option class="fw-bolder">درجة البكالوريوس</option>
              <option class="fw-bolder">درجة الماجيستير</option>
            </select>
            <div class="text-danger fw-bold mt-3 alert alert-danger" role="alert"
              [hidden]="educationLevelAR.valid || educationLevelAR.untouched">
              <span *ngIf="educationLevelAR.errors?.['required']"> المستوي التعليمي مطلوب</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="disabledSelect" class="form-label d-block fw-bolder">الخبرة</label>
            <div class="row">
              <div class="col-3">
                <span class="ms-2 fw-bolder">من</span>
                <select id="disabledSelect" class="form-select w-50 d-inline" #fromAR="ngModel" ngModel name="fromAR"
                  required>
                  <option>٠</option>
                  <option>١</option>
                  <option>٢</option>
                  <option>٣</option>
                  <option>٤</option>
                  <option>٥</option>
                </select>
                <div class="text-danger fw-bold mt-1 alert alert-danger " role="alert"
                  [hidden]="fromAR.valid || fromAR.untouched">
                  <span *ngIf="fromAR.errors?.['required']">مدة الخبرة مطلوبة</span>
                </div>
              </div>
              <div class="col-3">
                <span class="ms-2 fw-bolder">الي</span>
                <select id="disabledSelect"  class="form-select w-50 d-inline" #toAR="ngModel" ngModel name="toAR" required>
                  <option>٠</option>
                  <option>١</option>
                  <option>٢</option>
                  <option>٣</option>
                  <option>٤</option>
                  <option>٥</option>
                </select>
                <div class="text-danger fw-bold mt-1 alert alert-danger " role="alert"
                  [hidden]="toAR.valid || toAR.untouched">
                  <span *ngIf="toAR.errors?.['required']">مدة الخبرة مطلوبة</span>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3 col-5">
            <label for="salary" class="form-label fw-bolder">الراتب</label>
            <input type="text" class="form-control fw-bolder" id="salary" #salaryAR="ngModel" [(ngModel)]="editingJob.salaryAR" name="salaryAR"
              required>
            <!-- <div class="text-danger fw-bold mt-3 alert alert-danger" role="alert"
              [hidden]="salaryAR.valid || salaryAR.untouched">
              <span *ngIf="salaryAR.errors?.['required']">الراتب مطلوب</span>
            </div> -->
          </div>
          <div class="mb-3 col-5">
            <label for="disabledSelect" class="form-label fw-bolder">فئات الوظائف</label>
            <select id="disabledSelect" class="form-select fw-bolder" #jobCategoriesAR="ngModel" [(ngModel)]="editingJob.jobCategoriesAR"
              name="jobCategoriesAR" required>
              <option class="fw-bolder">البرمجة و التطوير</option>
              <option class="fw-bolder">الهندسة و الاتصالات</option>
              <option class="fw-bolder">الابداع و الفن</option>
            </select>
            <div class="text-danger fw-bold mt-3 alert alert-danger" role="alert"
              [hidden]="jobCategoriesAR.valid || jobCategoriesAR.untouched">
              <span *ngIf="jobCategoriesAR.errors?.['required']"> فئات الوظائف مطلوب</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="jobDescription" class="form-label fw-bolder">وصف الوظيفة </label>
            <!-- <quill-editor ngModel pattern="[A-Za-z_ ]{20,}"  #jobDescription="ngModel" name="jobDescription" [modules]="config" [styles]="editorStyle" class="w-75" ></quill-editor> -->
            <textarea class="form-control w-75 fw-bolder" id="jobDescription" #jobDescriptionAR="ngModel" [(ngModel)]="editingJob.jobDescriptionAR"
              name="jobDescriptionAR"  ></textarea>
            <!-- <div class="text-danger fw-bold mt-1 alert alert-danger w-75"
              [hidden]="jobDescriptionAR.valid || jobDescriptionAR.untouched">
              <span *ngIf="jobDescriptionAR.errors?.['required']"> وظف الوظيفة مطلوب</span>
              <span *ngIf="jobDescriptionAR.errors?.['pattern']"> Job Description must be more than 20 letters</span> 
            </div> -->
          </div>
          <div class="mb-3">
            <label for="jobDescription" class="form-label fw-bolder">متطالبات الوظيفة </label>
            <textarea class="form-control w-75 fw-bolder" id="jobDescription" #jobRequirementsAR="ngModel" [(ngModel)]="editingJob.jobRequirementsAR"
              name="jobRequirementsAR"></textarea>
            <!-- <div class="text-danger fw-bold mt-1 alert alert-danger w-75"
              [hidden]="jobRequirementsAR.valid || jobRequirementsAR.untouched">
              <span *ngIf="jobRequirementsAR.errors?.['required']"> متطالبات الوظيفة مطلوب</span>
              <span *ngIf="jobRequirementsAR.errors?.['pattern']"> Job Requirements must be more than 20 letters</span> 
            </div> -->
          </div>
        </div>


















        <div class="col-3">
          <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>
