<!-- tobar  -->
<div class="topbar">
    <div class="toggle-menue" (click)="toggleSideBar()" matTooltip="toggle SideNav">
        <mat-icon>menu</mat-icon>
    </div>

    <!-- serach  -->
    <div class="search ">
        <label>
            <input type="text" class="shadow" placeholder="Serech By Job Title..." [(ngModel)]="jobTitle"
                (ngModelChange)="search()">
        </label>
    </div>

    <!-- user img  -->
    <div class="user" [matMenuTriggerFor]="menu" matTooltip="profile">
        <img src="assets/profile-pic.png" alt="useriImg">
    </div>
    <mat-menu #menu="matMenu" class="profile-menue mt-1 me-3">
        <div class="user-container">
            <div class="user-profile d-flex justify-content-evenly align-items-center fw-bold" mat-menu-item
                routerLink="/edit-profile">
                <img src="assets/profile-pic.png" alt="useriImg" class="rounded-circle user-img">
                <h3 class="user-name p-2">{{company?.companyEmail}}<span class="d-block">See Your profile</span></h3>

            </div>
            <mat-divider class="mt-3 mb-3"></mat-divider>
            <button mat-menu-item 
            
            (click)="logOut()"
            >
                <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
                Logout
            </button>
        </div>
    </mat-menu>
</div>
<div class="w-100 position-fixed" style="z-index: 99;">
    <mat-progress-bar mode="indeterminate" *ngIf="loaderServ.isLoading"></mat-progress-bar>
</div>