<ng-container *ngIf="!loaderServ.isLoading">
    <h1 class="text-primary fw-bold p-3">Welcome to dashboard</h1>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <card title="Total Jobs" routerLink="/jobs" numbers={{jobs.length}} icon="work"></card>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <card title="PENDING Jobs" routerLink="/jobs" [queryParams]="{status:'pending'}"
                numbers={{pendingJobs.length}} icon="pending_actions"></card>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <card title="ACCEPTED Jobs" routerLink="/jobs" [queryParams]="{status:'accepted'}"
                numbers={{acceptedJobs.length}} icon="assignment_turned_in"></card>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3 mb-3">
            <card title="REFUSED Jobs" routerLink="/jobs" [queryParams]="{status:'refused'}"
                numbers={{refusedJobs.length}} icon="dangerous"></card>
        </div>
    </div>
</ng-container>