.form-wraper{
    background-image: url('./../../../assets/signin-bg-2e90b9bf0eb96dcf489b0c00bfa7b35e.jpg');
    background-size: cover;
    height: 100vh;

    .stepper-wraper{
        background-color: white;
        max-width: 890%;
    }

    textarea{
        height: 150px;
    }
}



