<h1 class="text-primary fw-bold p-3">Application Details</h1>

<div class="job-content-wraper w-80 m-auto">
    <details-card title="Amr Mohsen Ragab Mohamed">
        <mat-divider></mat-divider>
        <section class="application-details py-4">
            <div class="row ">
                <div class="col-lg-4 col-md-4 bg-light p-3 mb-3 detail">
                    <div class="d-flex justify-content-between">
                        <div class="col-sm-6 col-md-6 col-lg-6 lead">Birthdate:</div>
                        <div class="col-sm-6 col-md-6 col-lg-6 lead">6/71998</div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 bg-light p-3 mb-3 detail">
                    <div class="d-flex justify-content-between">
                        <div class="col-sm-6 col-md-6 col-lg-6 lead">Gender:</div>
                        <div class="col-sm-6 col-md-6 col-lg-6 lead">Male</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 bg-light p-3 mb-3 detail">
                    <div class="d-flex justify-content-between">
                        <div class="col-sm-6 col-md-6 col-lg-6 lead">Nationality:</div>
                        <div class="col-sm-6 col-md-6 col-lg-6 lead">Egypt</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 bg-light p-3 mb-3 detail">
                    <div class="d-flex justify-content-between">
                        <div class="col-sm-6 col-md-6 col-lg-6 lead">Marital Status:</div>
                        <div class="col-sm-6 col-md-6 col-lg-6 lead">Single</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 bg-light p-3 mb-3 detail">
                    <div class="d-flex justify-content-between">
                        <div class="col-sm-6 col-md-6 col-lg-6 lead">Military Status:</div>
                        <div class="col-sm-6 col-md-6 col-lg-6 lead">Extepmted</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 bg-light p-3 mb-3 detail">
                    <div class="d-flex justify-content-between">
                        <div class="col-sm-6 col-md-6 col-lg-6 lead">Mobile Number:</div>
                        <div class="col-sm-6 col-md-6 col-lg-6 lead">01019144915</div>
                    </div>
                </div>    
            </div>
            

        </section>
    </details-card>
</div>