<div class="application-wrapper">
    <h1 class="text-primary fw-bold p-3">Applications</h1>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3 mt-3 application" *ngFor="let item of joApplications" routerLink="/application-details/4">
            <details-card title="Amr Mohsen" subtitle="software engineer" matTooltip="View Details" tooltipPosition="left">
                <span class="text-primary">View Application Deatils</span>
            </details-card>
        </div>
    </div>
</div>  