<mat-sidenav-container class="sidebar-container" [hasBackdrop]="false" >
    <mat-sidenav #sidenav [(opened)]="opened" mode="side">
        <ul>
            <li class="identity">
                <a routerLink="/dashboard">
                    <img src="assets/logo.png" class="logo" alt="logo">
                    <span class="title">Wuzzuf Admin</span>
                </a>
            </li>
            <mat-divider class="mt-3 mb-3"></mat-divider>

            <li>
                <a routerLink="/dashboard">
                    <mat-icon>work</mat-icon>
                    <span class="title">Manage Company</span>
                </a>
            </li>
            <li>
                <a routerLink="/jobs">
                    <mat-icon>business_center</mat-icon>
                    <span class="title">Jobs</span>
                </a>
            </li>
            <li (click)="logOut()">
                <a>
                    <mat-icon>logout</mat-icon>
                    <span class="title">logOut</span>
                </a>
            </li>
        </ul>

    </mat-sidenav>

    <mat-sidenav-content>
        <!-- <div class="toggle-menue" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!opened">menu</mat-icon>
            <mat-icon *ngIf="opened">close</mat-icon>
        </div> -->
        <ng-content select="ng-container"></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>