<mat-sidenav-container class="sidebar-container" [hasBackdrop]="false" >
    <mat-sidenav #sidenav [(opened)]="opened" mode="side">
        <ul>
            <li class="identity">
                <a routerLink="/dashboard">
                    <img src="assets/logo.png" class="logo" alt="logo">
                    <span class="title">Wuzzuf Admin</span>
                </a>
            </li>
            <mat-divider class="mt-3 mb-3"></mat-divider>

            <li>
                <a routerLink="/dashboard">
                    <mat-icon>work</mat-icon>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a routerLink="/jobs">
                    <mat-icon>business_center</mat-icon>
                    <span class="title">Jobs</span>
                </a>
            </li>
            <li>
                <a routerLink="/edit-profile">
                    <mat-icon>edit</mat-icon>
                    <span class="title">Edit Profile</span>
                </a>
            </li>
            <li >
                <a style="cursor: pointer;"
                
             
                (click)="logOut()"
               
                >
                    <mat-icon>logout</mat-icon>
                    <span class="title">Log Out</span>
                </a>
            </li>
        </ul>

    </mat-sidenav>

    <mat-sidenav-content>
        <ng-content select="ng-container"></ng-content>
        <!-- <mat-spinner *ngIf="loaderServ.isLoading" class="m-auto mt-5"></mat-spinner> -->
    </mat-sidenav-content>
</mat-sidenav-container>